@model SystemRestauracja.Models.Admin.CategoryViewModel
@{
    @if (ViewData["Title"] == null)
    {
        ViewData["Title"] = "Dodaj kategorię";
    }
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

<h1>@ViewData["Title"]</h1>

<form class="ml-5 col w-25" id="form">
    <div>
        @Html.TextBoxFor(model => model.CatName, new { @class = "form-control", @placeholder = "Nazwa" })
        <div>
            <span asp-validation-for="CatName" class="text-danger"></span>
        </div>
    </div>
    <div>
        <input type="checkbox" class="form-check-input" id="HasParent" asp-for="HasParentCategory" />
        <label>Czy ma nadrzędną kategorię?</label>
    </div>
    @if (Model.HasParentCategory)
    {
        <div class="" id="categoryChoice">
            @if (Model.ParentCategoryChoice.Any())
            {
                <select class="form-control" asp-for="SelectedCategoryId" asp-items="@(new SelectList(Model.ParentCategoryChoice, "Id", "Nazwa"))"></select>
            }
        </div>
    }
    else
    {
        <div class="hide" id="categoryChoice" style="display:none">
            @if (Model.ParentCategoryChoice.Any())
            {
                <select class="form-control" asp-for="SelectedCategoryId" asp-items="@(new SelectList(Model.ParentCategoryChoice, "Id", "Nazwa"))"></select>
            }
        </div>
    }
    <div class="row">
        <input type="submit" formmethod="post" class="btn btn-dark" value="Zatwierdź" />
    </div>
</form>

<script>
    $(function () {
        $("#HasParent").click(function () {
            if ($(this).is(":checked")) {
                $("#categoryChoice").show();
            } else {
                $("#categoryChoice").hide();
            }
        });
    });

    //$(document).ready(function () {
    //    $("#categoryChoice").hide();
    //});

</script>