@model SystemRestauracja.Models.Admin.ShowPendingViewModel
@{
    ViewData["Title"] = "Raport wydanych zestawów";
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

<h1>@ViewData["Title"]</h1>

<div class="container w-50 mt-2 mb-2">
    <form asp-controller="Admin" asp-action="GenerateReportZestawy" class="row">
        <div>
            <label>Data od:</label>
            <input id="dataOd" name="dataOd" type="date" placeholder="Data od" class="form-control col" value="@DateTime.Now">
        </div>

        <div>
            <label>Data do:</label>
            <input id="dataDo" name="dataDo" type="date" placeholder="Data do" class="form-control col" value="@DateTime.Now">
        </div>
        <button type="submit" runat="server" formmethod="get" class="btn btn-dark mr-5">Szukaj</button>
    </form>
</div>

<div class="container-fluid list-group col" style="overflow-y:scroll; height: 75vh; padding-left:25px;">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nr Zestawu</th>
                    <th scope="col">@Html.ActionLink("Cena zestawu", "GenerateReportZestawy", new { sortOrder = ViewBag.PriceSortParm, dataOd = ViewBag.CurrentDataOd, dataDo = ViewBag.CurrentDataDo })</th>
                    <th scope="col">@Html.ActionLink("Użytkownik", "GenerateReportZestawy", new { sortOrder = ViewBag.TableSortParm, dataOd = ViewBag.CurrentDataOd, dataDo = ViewBag.CurrentDataDo })</th>
                    <th scope="col">Potrawy</th>
                    <th scope="col">@Html.ActionLink("Data utworzenia", "GenerateReportZestawy", new { sortOrder = ViewBag.DateSortParm, dataOd = ViewBag.CurrentDataOd, dataDo = ViewBag.CurrentDataDo })</th>
                    <th scope="col">Data zamknięcia</th>
                    <th scope="col">Notatki</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var zestaw in Model.Zestawy)
                {
                    <tr>
                        <th scope="col">
                            @zestaw.ZestawNr
                        </th>
                        <td>
                            @zestaw.CenaZestawu
                        </td>
                        <td>
                            @foreach (var user in Model.Uzytkownicy)
                            {
                                if (zestaw.ZamawiajacyId == user.Id)
                                {

                                    <div>@user.UserName</div>

                                }
                            }
                        </td>
                        <td>
                            @foreach (var ddz in Model.DaniaDoZestawow)
                            {
                                @if (ddz.ZestawId == zestaw.Id)
                                {
                                    foreach (var danie in Model.Dania)
                                    {

                                        if (danie.Id == ddz.DanieId)
                                        {
                                            <div class="row ml-5 list-group-item-info mr-2">
                                                <div class="col">
                                                    @danie.Nazwa
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </td>
                        <td>
                            @zestaw.CreateDate
                        </td>
                        <td>
                            @zestaw.DeleteDate
                        </td>
                        <td style="width:25%">
                            @if (zestaw.NotatkaDoZestawu != null)
                            {
                                <p>@zestaw.NotatkaDoZestawu</p>
                            }
                            else
                            {
                                <p>Brak notatki</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <div class="text-dark text-center">Strona @(Model.totalPages < Model.currentPage ? 0 : Model.currentPage) z @Model.totalPages</div>
    </div>

    <div class="justify-content-center row">
        <ul class="pagination">
            @for (int i = 1; i <= Model.totalPages; i++)
            {
                <li class="@(i== Model.currentPage ? "page-item active" : "page-item")">
                    <a class="page-link" href="@Url.Action("GenerateReportZestawy", new {page=i, sortOrder=ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, currentDataOd=ViewBag.CurrentDataOd, currentDataDo=ViewBag.CurrentDataDo})">@i</a>
                </li>
            }
        </ul>
    </div>
</div>



<script>
        //setTimeout(function () {
        //    window.location.reload(1);
    //}, 10000);
</script>


