@model SystemRestauracja.Models.Admin.ShowPendingViewModel
@{
    ViewData["Title"] = "Oczekujące zestawy";
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

<h1>Oczekujące zamówienia</h1>
<div class="container-fluid list-group col" style="overflow-y:scroll; height: 75vh; padding-left:25px;">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nr Zestawu</th>
                    <th scope="col">@Html.ActionLink("Cena zestawu", "ShowPending", new { sortOrder = ViewBag.PriceSortParm })</th>
                    <th scope="col">Status zestawu</th>
                    <th scope="col">@Html.ActionLink("Użytkownik", "ShowPending", new { sortOrder = ViewBag.TableSortParm })</th>
                    <th scope="col">Potrawy</th>
                    <th scope="col">@Html.ActionLink("Data utworzenia", "ShowPending", new { sortOrder = ViewBag.DateSortParm })</th>
                    <th scope="col">Notatki</th>
                    <th scope="col">Zamknij</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var zestaw in Model.Zestawy)
                {
                    <tr>
                        <th scope="col">
                            @zestaw.ZestawNr
                        </th>
                        <td>
                            @zestaw.CenaZestawu
                        </td>
                        <td>
                            @zestaw.StatusZestawu
                        </td>
                        <td>
                            @foreach (var user in Model.Uzytkownicy)
                            {
                                if (zestaw.ZamawiajacyId == user.Id)
                                {

                                    <div>@user.UserName</div>

                                }
                            }
                        </td>
                        <td>
                            @foreach (var ddz in Model.DaniaDoZestawow)
                            {
                                @if (ddz.ZestawId == zestaw.Id)
                                {
                                    foreach (var danie in Model.Dania)
                                    {

                                        if (danie.Id == ddz.DanieId)
                                        {
                                            <div class="row ml-5 list-group-item-info mr-2">
                                                <div class="col">
                                                    @danie.Nazwa
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </td>
                        <td>
                            @zestaw.CreateDate
                        </td>
                        <td style="width:25%">
                            @if (zestaw.NotatkaDoZestawu != null)
                            {
                                @string.Join(string.Empty, zestaw.NotatkaDoZestawu.Select((x, i) => i > 0 && i % 10 == 0 ? string.Format(" {0}", x) : x.ToString()));
                            }
                            else
                            {
                                <p>Brak notatki</p>
                            }
                        </td>
                        <td>
                            <form class="col">
                                <button class="btn btn-sm btn-outline-dark" asp-action="CloseZestaw" asp-controller="Admin" asp-route-zestawId="@zestaw.Id">Zamknij zestaw</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <div class="text-dark text-center">Strona @(Model.totalPages < Model.currentPage ? 0 : Model.currentPage) z @Model.totalPages</div>
    </div>

    <div class="justify-content-center row">
        <ul class="pagination">
            @for (int i = 1; i <= Model.totalPages; i++)
            {
                <li class="@(i== Model.currentPage ? "page-item active" : "page-item")">
                    <a class="page-link" href="@Url.Action("ShowPending", new {page=i, sortOrder=ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter})">@i</a>
                </li>
            }
        </ul>
    </div>
</div>



<script>
        //setTimeout(function () {
        //    window.location.reload(1);
    //}, 10000);
</script>


