@model SystemRestauracja.Models.Admin.ShowCategoriesViewModel
@{
    ViewData["Title"] = "Lista Kategorii";
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

@*<form class="container">
        <div class="row">
            Znajdź po nazwie:<input type="text" asp-action="ShowCategories" asp-route="searchString" />
            <button type="submit" class="btn btn-dark">Szukaj</button>
        </div>
    </form>*@

<div class="justify-content-center">
    <h2 class="text-dark text-center">Kategorie</h2>
</div>

<div class="container w-25 mt-2 mb-2">
    <form asp-controller="Admin" asp-action="ShowCategories" class="row">
        <input id="searchString" name="searchString" type="text" placeholder="Wyszukaj po nazwie" class="form-control col">
        <button type="submit" runat="server" class="btn btn-dark mr-5">Szukaj</button>

        @*<div class="col"></div>*@
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col">@Html.ActionLink("Nazwa", "ShowCategories", new { sortOrder = ViewBag.NameSortParm })</div>
        <div class="col">
            @Html.ActionLink("Data utworzenia", "ShowCategories", new { sortOrder = ViewBag.DateSortParm })
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>



<form class="container">
    @if (ViewBag.SearchString == null)
    {
        @foreach (var cat in Model.Kategorie)
        {

            <div>
                @if (cat.HasChildren)
                {
                    <div class="row">
                        <a class="form-control col text-primary">@cat.Nazwa</a>
                        <a class="form-control col text-primary">@cat.CreateDate</a>
                        <button class="btn btn-outline-info col" asp-action="EditCategory" asp-controller="Admin" asp-route-categoryId="@cat.Id">Edytuj</button>
                        <button class="btn btn-outline-danger col" asp-action="DeleteCategory" asp-controller="Admin" asp-route-categoryId="@cat.Id">Usuń</button>
                    </div>
                    <div>
                        <div>
                            @foreach (var childrenCategory in Model.Podkategorie)
                            {
                                if (childrenCategory.ParentCategoryId == cat.Id)
                                {
                                    <div class="row">
                                        <a class="form-control col ml-5 text-secondary">@childrenCategory.Nazwa</a>
                                        <a class="form-control col text-primary">@childrenCategory.CreateDate</a>
                                        <button class="btn btn-outline-info col" type="submit" asp-action="EditCategory" asp-controller="Admin" asp-route-categoryId="@childrenCategory.Id">Edytuj</button>
                                        <button class="btn btn-outline-danger col" type="submit" asp-action="DeleteCategory" asp-controller="Admin" asp-route-categoryId="@childrenCategory.Id">Usuń</button>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <a class="form-control col text-primary">@cat.Nazwa</a>
                        <a class="form-control col text-primary">@cat.CreateDate</a>
                        <button class="btn btn-outline-info col" asp-action="EditCategory" asp-controller="Admin" asp-route-categoryId="@cat.Id">Edytuj</button>
                        <button class="btn btn-outline-danger col" asp-action="DeleteCategory" asp-controller="Admin" asp-route-categoryId="@cat.Id">Usuń</button>
                    </div>
                }
            </div>

        }
    }
    else
    {
        @foreach (var cat in Model.Kategorie)
        {
            <div class="row">
                @if (cat.ParentCategoryId == null)
                {
                    <a class="form-control col text-primary">@cat.Nazwa</a>
                }
                else
                {
                    <a class="form-control col text-secondary">@cat.Nazwa</a>
                }
                <a class="form-control col text-primary">@cat.CreateDate</a>
                <button class="btn btn-outline-info col" asp-action="EditCategory" asp-controller="Admin" asp-route-categoryId="@cat.Id">Edytuj</button>
                <button class="btn btn-outline-danger col" asp-action="DeleteCategory" asp-controller="Admin" asp-route-categoryId="@cat.Id">Usuń</button>
            </div>
        }
    }
</form>
<div>
    <div class="text-dark text-center">Strona @(Model.totalPages < Model.currentPage ? 0 : Model.currentPage) z @Model.totalPages</div>
</div>

<div class="justify-content-center row">
    <ul class="pagination">
        @for (int i = 1; i <= Model.totalPages; i++)
        {
            <li class="@(i== Model.currentPage ? "page-item active" : "page-item")">
                <a class="page-link" href="@Url.Action("ShowCategories", new {page=i, sortOrder=ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter})">@i</a>
            </li>
        }
    </ul>
</div>

@*<script>
        $(function () {
            $("#HasParent").click(function () {
                if ($(this).is(":checked")) {
                    $("#categoryChoice").show();
                } else {
                    $("#categoryChoice").hide();
                }
            });
        });

        $(document).ready(function () {
            $("#categoryChoice").hide();
        });

    </script>*@
