@model SystemRestauracja.Models.Admin.ShowDaniaViewModel
@{
    ViewData["Title"] = "Lista Kategorii";
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
<div class="alert alert-danger">
    @ViewData.ModelState["Error"].Errors.First().ErrorMessage
</div>
}


<div class="container">
    <div class="row">
        <label class="col w-25"></label>
        <label class="col">Nazwa</label>
        <label class="col">Kategoria</label>
        <label class="col">Cena</label>
        @*<label class="col">Weganskie</label>
        <label class="col">Ostre</label>*@
        <label class="col">Opublikowane</label>
        <label class="col">Edycja</label>
        <label class="col">Usuwanie</label>
    </div>
</div>
<form class="container">
    @foreach (var danie in Model.Dania)
    {
    <div>
        <div class="row">
            <i class="col w-25 btn btn-outline-info">?</i>
            <a class="col text-primary" role="button">@danie.Nazwa</a>
            <label class="col text-primary">
                @foreach(var cat in Model.Kategorie)
                {
                    if(cat.Id==danie.CategoryId)
                    {
                        <div>@cat.Nazwa</div>
                    }
                }
            </label>
            <label class="col text-primary">@danie.Cena</label>
            @*<label class="col text-primary">@if(danie.CzyWeganskie) {<div>x</div>;}</label>
            <label class="col text-primary">@if(danie.CzyOstre) {<div>x</div>;}</label>*@
            <label class="col text-primary">@if(danie.CzyUpublicznione) {<div>x</div>;}</label>
            <a class="btn btn-outline-info col" asp-action="EditDanie" asp-controller="Admin" asp-route-danieId="@danie.Id">Edytuj</a>
            <a class="btn btn-outline-danger col" asp-action="DeleteDanie" asp-controller="Admin" asp-route-danieId="@danie.Id">Usuń</a>
        </div>
    </div>
    <hr />
    }
</form>