@model SystemRestauracja.Models.Admin.ShowSymbolsViewModel
@{
    ViewData["Title"] = "ShowSymbols";
}

<h1>Lista wszystkich symboli</h1>





<div class="container-fluid list-group col">
    <div class="row">
        <label class="col">Nazwa symbolu</label>
        <label class="col">Wygląd symbolu</label>
        <label class="col"></label>
        <label class="col"></label>
    </div>
</div>
<div class="" style="overflow-y:hidden; width:auto">
    <form class="container-fluid list-group col" style="overflow-y:scroll; height: 75vh; padding-left:25px;">
        @foreach (var symbol in Model.Symbole)
        {
            <div>
                <div class="row">
                    <a class="col text-primary" role="button">@symbol.Nazwa</a>
                    @*<label class="col text-primary">@symbol.FontId</label>
                        <i class="@symbol.FontId col" style="color:@symbol.Color"></i>
                        <label class="col text-primary">@symbol.Color</label>
                            tu miejsce na wyswietlanie obrazka*@
                    <div class="text-center col">
                        <img src="~/images/@symbol.ImagePath" class="rounded-circle float-left" height="32" width="32" asp-append-version="true" />
                    </div>
                    <a class="btn btn-outline-info col" asp-action="EditSymbol" asp-controller="Admin" asp-route-symbolId="@symbol.Id">Edytuj</a>
                    <a class="btn btn-outline-danger col" asp-action="DeleteSymbol" asp-controller="Admin" asp-route-symbolId="@symbol.Id">Usuń</a>
                </div>
            </div>
            <hr />
        }
    </form>
</div>
