@model SystemRestauracja.Models.Admin.ShowCategoriesViewModel
@{
    ViewData["Title"] = "Lista Kategorii";
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

@*<form class="container">
        <div class="row">
            Znajdź po nazwie:<input type="text" asp-action="ShowCategories" asp-route="searchString" />
            <button type="submit" class="btn btn-dark">Szukaj</button>
        </div>
    </form>*@

<div class="justify-content-center">
    <h2 class="text-dark text-center">Kategorie</h2>
</div>

<div class="container w-50 mt-2 mb-2">
    <form asp-controller="Admin" asp-action="ShowCategories" class="row">
        <input id="searchString" name="searchString" type="text" placeholder="Wyszukaj po nazwie" class="form-control col">
        <button type="submit" runat="server" class="btn btn-dark mr-5">Szukaj</button>
    </form>
</div>

<div>
    <div class="row">
        <div class="col">@Html.ActionLink("Nazwa", "ShowCategories", new { sortOrder = ViewBag.NameSortParm })</div>
        <div class="col">
            @Html.ActionLink("Data utworzenia", "ShowCategories", new { sortOrder = ViewBag.DateSortParm })
        </div>
        <div class="col">
            Nadrzędna kategoria
            @*@Html.ActionLink("Nadrzędna kategoria", "ShowCategories", new { sortOrder = ViewBag.ParentCatSortParm })*@
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>


<div class="container-fluid list-group col" style="overflow-y:scroll; height: 75vh; padding-left:25px;">
    <form>
        @foreach (var cat in Model.Kategorie)
        {

            <div>
                <div class="row">
                    <a class="form-control col text-primary">@cat.Nazwa</a>
                    <a class="form-control col text-primary">@cat.CreateDate</a>
                    @if (cat.ParentCategoryId != null)
                    {

                        <a class="form-control col text-primary">@cat.ParentCategory.Nazwa</a>
                    }
                    else
                    {
                        <a class="form-control col text-secondary">Brak nadrzędnej kategorii</a>
                    }
                    <button class="btn btn-outline-info col" asp-action="EditCategory" asp-controller="Admin" asp-route-categoryId="@cat.Id">Edytuj</button>
                    <button class="btn btn-outline-danger col" asp-action="DeleteCategory" asp-controller="Admin" asp-route-categoryId="@cat.Id">Usuń</button>
                </div>
            </div>

        }
    </form>
    <div>
        <div class="text-dark text-center">Strona @(Model.totalPages < Model.currentPage ? 0 : Model.currentPage) z @Model.totalPages</div>
    </div>

    <div class="justify-content-center row">
        <ul class="pagination">
            @for (int i = 1; i <= Model.totalPages; i++)
            {
                <li class="@(i== Model.currentPage ? "page-item active" : "page-item")">
                    <a class="page-link" href="@Url.Action("ShowCategories", new {page=i, sortOrder=ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter})">@i</a>
                </li>
            }
        </ul>
    </div>
</div>


@*<script>
        $(function () {
            $("#HasParent").click(function () {
                if ($(this).is(":checked")) {
                    $("#categoryChoice").show();
                } else {
                    $("#categoryChoice").hide();
                }
            });
        });

        $(document).ready(function () {
            $("#categoryChoice").hide();
        });

    </script>*@
