@model OrderMenuViewModel
@{
    ViewData["Title"] = "Strona główna";
}

@if (TempData["Warning"] != null)
{
    <p class="alert alert-danger" id="successMessage">@TempData["Warning"]</p>
}

<div class="d-flex toggled" id="wrapper" style="position:fixed;">
    <!-- Sidebar href="#dania_glowne" -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
            Restauracja
        </div>
        <div class="list-group list-group-flush">
            @foreach (var parentCategory in Model.CategoryList)
            {
                @if (parentCategory.HasChildren)
                {
                    <a class="list-group-item list-group-item-action bg-light" data-toggle="collapse" href="#@parentCategory.NormalizedName" role="button" aria-expanded="false" aria-controls="collapseExample">@parentCategory.Nazwa</a>
                    <div class="collapse" id="@parentCategory.NormalizedName">
                        <div>
                            @foreach (var childrenCategory in Model.ChildrenCategories)
                            {
                                if (childrenCategory.ParentCategoryId == parentCategory.Id)
                                {
                                    <a class="list-group-item list-group-item-action w-75" style="font-size:0.7rem;" href="#@childrenCategory.NormalizedName">@childrenCategory.Nazwa</a>
                                }
                            }
                        </div>
                    </div>
                }
                else
                {
                    <a class="list-group-item list-group-item-action bg-light" href="#@parentCategory.NormalizedName" role="button">@parentCategory.Nazwa</a>
                }
            }
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Index" asp-controller="Admin" class="list-group-item list-group-item-action bg-light">Admin</a>
            }

        </div>
    </div>
</div>

<div id="id-message">
    <p class="text-danger text-center">@ViewData["message"]</p>
</div>

<div class="row w-100">
    <div class="w-50 ml-5" style="margin-top:-20px"><h5 class="mt-4">Menu</h5></div>
    <div class="w-25 ml-5" style="margin-top:-20px" id="zamowienia_header"><h5 class="mt-4">Obecne zamówienia</h5></div>
</div>
<div class="row" style="overflow:hidden; width:auto">
    <!--Menu Container -->
    <div class="container-fluid list-group col" style="overflow-y:scroll; height: 75vh; padding-left:25px;" id="myTable">
        <!--menu kategorie - for each kategoria in daza banych nazwa kategorii; for each kategoria if kategoria.parentkategoriaid == this.kategoria id nazwa podkategorii-->
        <hr />


        @foreach (var kategoria in Model.CategoryList)
        {

            @if (kategoria.HasChildren)
            {
                <label>
                    <h4>@kategoria.Nazwa</h4>
                </label>
                @foreach (var podkat in Model.ChildrenCategories)
                {
                    if (podkat.ParentCategoryId == kategoria.Id)
                    {
                        <label id="@podkat.NormalizedName">
                            <h5 class="ml-2">@podkat.Nazwa</h5>
                        </label>
                        <!--Dania przynależące do danej kategorii-->
                        <div class="card">
                            @foreach (var danie in Model.Dania)
                            {
                                if (danie.CategoryId == podkat.Id)
                                {

                                    <div class="card-header row" id="@(danie.NormalizedNazwa+"heading")">
                                        <a class="btn btn-link col-9 w-100" data-toggle="collapse" data-target="#@(danie.NormalizedNazwa+"collapse")" aria-expanded="true" aria-controls="@(danie.NormalizedNazwa+"collapse")">

                                            @*<form class="">
                                                    <input type="submit" class="btn btn-sm btn-warning" formmethod="post" value="+" asp-action="AddDanieToZestaw" asp-controller="Menu" asp-route-zestawId="@Model.SelectedZestawId" asp-route-danieId="@danie.Id" />
                                                </form>*@
                                            @*<img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Red_Apple.jpg" class="img-thumbnail rounded float-left" width="70vh" />*@
                                            <h5 class="mb-1">@danie.Nazwa</h5>
                                            @foreach (var ssd in Model.SymboleDoDania)
                                            {
                                                if (ssd.DanieId == danie.Id)
                                                {
                                                    @foreach (var symbol in Model.Symbole)
                                                    {
                                                        if (symbol.Id == ssd.SymbolId)
                                                        {
                                                            <img src="~/images/@symbol.ObrazUrl" class="rounded-circle" height="32" width="32" asp-append-version="true" />
                                                        }
                                                    }
                                                }
                                            }
                                            <p class="float-right">Cena: @danie.Cena</p>
                                            <script>
                                                document.getElementById('@(danie.NormalizedNazwa+"heading")').onclick = function ()
                                                {
                                                    document.getElementById('@(danie.NormalizedNazwa+"collapse")').collapse('toggle');
                                                }
                                            </script>
                                        </a>
                                        <form class="col">
                                            <button id="zamowienieBtn" type="submit" formaction="/Menu/AddDanieToZestaw/@danie.Id/@Model.SelectedZestawId" class="btn btn-outline-success h-100 w-auto float-right">Dodaj</button>
                                        </form>
                                    </div>

                                    <label id="@(danie.NormalizedNazwa+"collapse")" class="collapse" aria-labelledby="@(danie.NormalizedNazwa+"heading")" data-parent="#myTable">
                                        <div class="card-body">
                                            @if (danie.OpisDania != null)
                                            {
                                                <p class="mb-1">
                                                    @danie.OpisDania
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="mb-1">Brak opisu dania</p>
                                            }
                                        </div>
                                    </label>
                                }
                            }
                        </div>
                    }
                }
            }
            else
            {
                <!--Dania nalezace do nadrzednej kategorii bez podkategorii-->
                <label id="@kategoria.NormalizedName">
                    <h4>@kategoria.Nazwa</h4>
                </label>
                <div class="card">
                    @foreach (var danie in Model.Dania)
                    {
                        if (danie.CategoryId == kategoria.Id)
                        {

                            <div class="card-header row" id="@(danie.NormalizedNazwa+"heading")">
                                <a class="btn btn-link col-9 w-100" data-toggle="collapse" data-target="#@(danie.NormalizedNazwa+"collapse")" aria-expanded="true" aria-controls="@(danie.NormalizedNazwa+"collapse")">

                                    @*<form class="">
                                            <input type="submit" class="btn btn-sm btn-warning" formmethod="post" value="+" asp-action="AddDanieToZestaw" asp-controller="Menu" asp-route-zestawId="@Model.SelectedZestawId" asp-route-danieId="@danie.Id" />
                                        </form>*@
                                    @*<img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Red_Apple.jpg" class="img-thumbnail rounded float-left" width="70vh" />*@
                                    <h5 class="mb-1">@danie.Nazwa</h5>
                                    @foreach (var ssd in Model.SymboleDoDania)
                                    {
                                        if (ssd.DanieId == danie.Id)
                                        {
                                            @foreach (var symbol in Model.Symbole)
                                            {
                                                if (symbol.Id == ssd.SymbolId)
                                                {
                                                    <img src="~/images/@symbol.ObrazUrl" class="rounded-circle" height="32" width="32" asp-append-version="true" />
                                                }
                                            }
                                        }
                                    }
                                    <p class="float-right">Cena: @danie.Cena</p>
                                    <script>
                                                document.getElementById('@(danie.NormalizedNazwa+"heading")').onclick = function ()
                                                {
                                                    document.getElementById('@(danie.NormalizedNazwa+"collapse")').collapse('toggle');
                                                }
                                    </script>
                                </a>
                                <form class="col">
                                    <button id="zamowienieBtn" type="submit" formaction="/Menu/AddDanieToZestaw/@danie.Id/@Model.SelectedZestawId" class="btn btn-outline-success h-100 w-auto float-right">Dodaj</button>
                                </form>
                            </div>

                            <label id="@(danie.NormalizedNazwa+"collapse")" class="collapse" aria-labelledby="@(danie.NormalizedNazwa+"heading")" data-parent="#myTable">
                                <div class="card-body">
                                    @if (danie.OpisDania != null)
                                    {
                                        <p class="mb-1">
                                            @danie.OpisDania
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="mb-1">Brak opisu dania</p>
                                    }
                                </div>
                            </label>
                        }
                    }
                </div>
            }
            <hr />
        }
        <div class="mt-5 mt-md-5 mt-sm-5"></div>
    </div>

    <!--Zamowienia Container -->
    <div id="zamowienia_container" class="container-fluid col list-group" style="overflow-y:scroll; height: 75vh; padding-left:25px; width:auto;">
        <!--info dot. obecnego stolika i zamowien-->
        @foreach (var zamowienie in Model.Zamowienia)
        {
            @if (zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Dodawane)
            {

                @if (Model.SelectedZamowienieId == zamowienie.Id)
                {
                    <!--Aktywne zamówienie-->
                    <div class="list-group-item list-group-item-success flex-column align-items-start mb-2">
                        <div class="d-flex w-100 justify-content-between list-group">
                            <div class="row">
                                @if (zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Dodawane)
                                {
                                    <form class="">
                                        <input type="submit" class="btn btn-sm btn-outline-danger" formmethod="post" value="Usuń" asp-action="RemoveZamowienie" asp-controller="Menu" asp-route-zamowienieId="@zamowienie.Id" />
                                    </form>
                                }
                                <h5 class="mb-1">

                                    Nr Zamowienia: @zamowienie.ZamowienieNr

                                </h5>
                            </div>

                        </div>
                        @foreach (var zestaw in Model.Zestawy)
                        {
                            if (zestaw.ZamowienieId == zamowienie.Id)
                            {

                                if (zestaw.Id == Model.SelectedZestawId)
                                {
                                    <!--Aktywny zestaw-->
                                    <div class="list-group-item list-group-item-warning flex-column align-items-start mb-2">
                                        <div class="d-flex w-100 justify-content-between list-group">
                                            <div class="row">
                                                @if (zestaw.StatusZestawu == SystemRestauracja.Data.StatusZestaw.Dodawany)
                                                {
                                                    <form class="">
                                                        <input type="submit" class="btn btn-sm btn-outline-danger" formmethod="post" value="Usuń" asp-action="RemoveZestaw" asp-controller="Menu" asp-route-zestawId="@zestaw.Id" />
                                                    </form>
                                                }
                                                <h5 class="mb-1">Zestaw @zestaw.ZestawNr</h5>
                                            </div>

                                        </div>
                                        @foreach (var ddz in Model.DaniaDoZestawow)
                                        {
                                            @if (ddz.ZestawId == zestaw.Id)
                                            {
                                                foreach (var danie in Model.Dania)
                                                {

                                                    if (danie.Id == ddz.DanieId)
                                                    {
                                                        <div href="#" id="@danie.NormalizedNazwa" class="list-group-item list-group-item-success flex-column align-items-start mb-2">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                <div class="row">
                                                                    @if (zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Dodawane)
                                                                    {
                                                                        <form>
                                                                            <input type="submit" class="btn btn-outline-danger btn-sm" formmethod="post" value="Usuń" asp-action="RemoveDanieFromZestaw" asp-controller="Menu" asp-route-ddzId="@ddz.Id" />
                                                                        </form>
                                                                    }
                                                                    <h5 class="mb-1">@danie.Nazwa</h5>
                                                                </div>
                                                                @foreach (var ssd in Model.SymboleDoDania)
                                                                {
                                                                    if (ssd.DanieId == danie.Id)
                                                                    {
                                                                        @foreach (var symbol in Model.Symbole)
                                                                        {
                                                                            if (symbol.Id == ssd.SymbolId)
                                                                            {
                                                                                <img src="~/images/@symbol.ObrazUrl" class="rounded-circle" height="32" width="32" asp-append-version="true" />
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                @*@if (danie.CzyWeganskie)
                                                                    {
                                                                        <i class="fas fa-leaf" style="color:forestgreen"></i>
                                                                    }
                                                                    @if (danie.CzyOstre)
                                                                    {
                                                                        <i class="fas fa-fire" style="color:red"></i>
                                                                    }*@
                                                                <small class="float-right">Cena: @danie.Cena</small>
                                                            </div>

                                                        </div>
                                                    }
                                                }
                                            }
                                        }
                                        @*<p class="float-right">Cena za zestaw: @zestaw.CenaZestawu</p>*@
                                        <form id="notatka">
                                            <div class="row">
                                                <label>Uwagi i wskazania do zestawu(max. 75 znaków):</label>
                                                <input type="text" class="form-control text-primary" maxlength="75" asp-for="Notatka" placeholder="@zestaw.NotatkaDoZestawu" />
                                            </div>
                                            <div class="row">
                                                <input type="submit" formmethod="post" class="btn btn-dark" value="Zatwierdź" asp-action="AddNotatka" asp-route-zestawId="@zestaw.Id" />
                                            </div>
                                        </form>
                                    </div>
                                }
                                else
                                {
                                    <!--Nieaktywny zestaw-->
                                    <div method="post" class="list-group-item list-group-item-danger flex-column align-items-start mb-2" asp-controller="Menu" asp-action="SelectZestaw" asp-route-zestawId="@zestaw.Id">
                                        <div class="d-flex w-100 justify-content-between list-group">
                                            <div class="row">
                                                @if (zestaw.StatusZestawu == SystemRestauracja.Data.StatusZestaw.Dodawany)
                                                {
                                                    <form>
                                                        <input type="submit" class="btn btn-sm btn-outline-danger" formmethod="post" value="Usuń" asp-action="RemoveZestaw" asp-controller="Menu" asp-route-zestawId="@zestaw.Id" />

                                                        <button type="submit" class="btn btn-sm btn-outline-success" asp-action="SelectZestaw" asp-controller="Menu" asp-route-zestawId="@zestaw.Id">
                                                            <span class="fa fa-plus"></span>
                                                        </button>
                                                    </form>
                                                }
                                                <h5 class="mb-1">Zestaw @zestaw.ZestawNr</h5>
                                            </div>
                                        </div>
                                        @foreach (var ddz in Model.DaniaDoZestawow)
                                        {
                                            @if (ddz.ZestawId == zestaw.Id)
                                            {
                                                foreach (var danie in Model.Dania)
                                                {
                                                    if (danie.Id == ddz.DanieId)
                                                    {
                                                        <div id="@danie.NormalizedNazwa" class="list-group-item list-group-item-dark flex-column align-items-start mb-2">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                <div class="row">
                                                                    @if (zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Dodawane)
                                                                    {
                                                                        <form>
                                                                            <input type="submit" class="btn btn-outline-danger btn-sm" formmethod="post" value="Usuń" asp-action="RemoveDanieFromZestaw" asp-controller="Menu" asp-route-ddzId="@ddz.Id" />
                                                                        </form>
                                                                    }
                                                                    <h5 class="mb-1">@danie.Nazwa</h5>
                                                                </div>
                                                                @foreach (var ssd in Model.SymboleDoDania)
                                                                {
                                                                    if (ssd.DanieId == danie.Id)
                                                                    {
                                                                        @foreach (var symbol in Model.Symbole)
                                                                        {
                                                                            if (symbol.Id == ssd.SymbolId)
                                                                            {
                                                                                <img src="~/images/@symbol.ObrazUrl" class="rounded-circle" height="32" width="32" asp-append-version="true" />
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                @*@if (danie.CzyWeganskie)
                                                                    {
                                                                        <i class="fas fa-leaf" style="color:forestgreen"></i>
                                                                    }
                                                                    @if (danie.CzyOstre)
                                                                    {
                                                                        <i class="fas fa-fire" style="color:red"></i>
                                                                    }*@
                                                                <p class="float-right">Cena: @danie.Cena</p>
                                                            </div>

                                                        </div>

                                                    }
                                                }
                                            }
                                        }
                                        <small>Notatka: @zestaw.NotatkaDoZestawu</small>
                                    </div>
                                }
                            }
                        }
                        @if (zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Dodawane)
                        {
                            <form class="col">
                                <button class="btn btn-outline-info col" formmethod="post" asp-action="AddZestaw" asp-controller="Menu" asp-route-zamowienieId="@zamowienie.Id">Dodaj Zestaw</button>
                            </form>
                            <form class="col" method="post">

                                <button class="btn btn-outline-success col" asp-action="ConfirmZamowienie" asp-controller="Menu" asp-route-zamowienieId="@zamowienie.Id">Potwierdź zamówienie</button>
                            </form>
                        }
                        <p class="float-right">Cena za całe zamówienie: @zamowienie.CenaSuma</p>
                    </div>
                }
                else
                {
                    <!--Nieaktywne zamówienie-->
                    <a class="list-group-item list-group-item-dark flex-column align-items-start mb-2" id="@zamowienie.NormalizedName" asp-action="SelectZamowienie" asp-route-zamowienieId="@zamowienie.Id">
                        <div class="d-flex w-100 justify-content-between list-group">
                            <div class="row">
                                @if (zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Dodawane)
                                {
                                    <form class="">
                                        <input type="submit" class="btn btn-sm btn-outline-danger" formmethod="post" value="Usuń" asp-action="RemoveZamowienie" asp-controller="Menu" asp-route-zamowienieId="@zamowienie.Id" />
                                    </form>
                                }
                                <h5 class="mb-1">

                                    Nr Zamowienia: @zamowienie.ZamowienieNr

                                </h5>
                            </div>

                        </div>
                        @foreach (var zestaw in Model.Zestawy)
                        {
                            <!--nieaktywny zestaw-->
                            if (zestaw.ZamowienieId == zamowienie.Id)
                            {
                                <div class="list-group-item list-group-item-danger flex-column align-items-start mb-2">
                                    <div class="d-flex w-100 justify-content-between list-group">
                                        <div class="row">
                                            @if (zestaw.StatusZestawu == SystemRestauracja.Data.StatusZestaw.Dodawany)
                                            {
                                                <form>
                                                    <input type="submit" class="btn btn-sm btn-outline-danger" formmethod="post" value="Usuń" asp-action="RemoveZestaw" asp-controller="Menu" asp-route-zestawId="@zestaw.Id" />

                                                    <input type="submit" class="btn btn-sm btn-outline-success" value="+" asp-action="SelectZestaw" asp-controller="Menu" asp-route-zestawId="@zestaw.Id" />
                                                </form>
                                            }
                                            <h5 class="mb-1">Zestaw @zestaw.ZestawNr</h5>
                                        </div>
                                    </div>
                                    @foreach (var ddz in Model.DaniaDoZestawow)
                                    {
                                        @if (ddz.ZestawId == zestaw.Id)
                                        {
                                            foreach (var danie in Model.Dania)
                                            {
                                                if (danie.Id == ddz.DanieId)
                                                {
                                                    <div href="#" id="@danie.NormalizedNazwa" class="list-group-item list-group-item-success flex-column align-items-start mb-2">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <div class="row">
                                                                @if (zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Dodawane)
                                                                {
                                                                    <form>
                                                                        <input type="submit" class="btn btn-outline-danger btn-sm" formmethod="post" value="Usuń" asp-action="RemoveDanieFromZestaw" asp-controller="Menu" asp-route-ddzId="@ddz.Id" />
                                                                    </form>
                                                                }
                                                                <h5 class="mb-1">@danie.Nazwa</h5>
                                                            </div>
                                                            @foreach (var ssd in Model.SymboleDoDania)
                                                            {
                                                                if (ssd.DanieId == danie.Id)
                                                                {
                                                                    @foreach (var symbol in Model.Symbole)
                                                                    {
                                                                        if (symbol.Id == ssd.SymbolId)
                                                                        {
                                                                            <img src="~/images/@symbol.ObrazUrl" class="rounded-circle" height="32" width="32" asp-append-version="true" />
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            @*@if (danie.CzyWeganskie)
                                                                {
                                                                    <i class="fas fa-leaf" style="color:forestgreen"></i>
                                                                }
                                                                @if (danie.CzyOstre)
                                                                {
                                                                    <i class="fas fa-fire" style="color:red"></i>
                                                                }*@
                                                            <p>Cena: @danie.Cena</p>
                                                        </div>


                                                    </div>
                                                }
                                            }
                                        }
                                    }

                                    @*<small class="float-right">Cena za zestaw: @zestaw.CenaZestawu</small>*@
                                    <small>Notatka: @zestaw.NotatkaDoZestawu</small>
                                </div>
                            }
                        }
                        @if (zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Dodawane)
                        {
                            <form class="col">
                                <button class="btn btn-outline-info col" formmethod="post" asp-action="AddZestaw" asp-controller="Menu" asp-route-zamowienieId="@zamowienie.Id">Dodaj Zestaw</button>
                            </form>
                            <form class="col" method="post">

                                <button class="btn btn-outline-success col" asp-action="ConfirmZamowienie" asp-controller="Menu" asp-route-zamowienieId="@zamowienie.Id">Potwierdź zamówienie</button>
                            </form>
                        }
                        <small></small>
                        <p class="float-right">Cena za całe zamówienie: @zamowienie.CenaSuma</p>
                    </a>
                }
            }
            else
            {
                <!--potwierdzone zamówienie-->
                <div class="list-group-item list-group-item-primary flex-column align-items-start mb-2" id="@zamowienie.NormalizedName">
                    <div class="d-flex w-100 justify-content-between list-group">
                        <div class="row">
                            <h5 class="mb-1">
                                Nr Zamowienia: @zamowienie.ZamowienieNr
                            </h5>
                        </div>

                    </div>
                    @foreach (var zestaw in Model.Zestawy)
                    {
                        <!--potwierdzony zestaw-->
                        if (zestaw.ZamowienieId == zamowienie.Id)
                        {
                            <div method="post" class="list-group-item list-group-item-info flex-column align-items-start mb-2">
                                <div class="d-flex w-100 justify-content-between list-group">
                                    <div class="row">
                                        <h5 class="mb-1">Zestaw @zestaw.ZestawNr</h5>
                                    </div>
                                </div>
                                @foreach (var ddz in Model.DaniaDoZestawow)
                                {
                                    @if (ddz.ZestawId == zestaw.Id)
                                    {
                                        foreach (var danie in Model.Dania)
                                        {
                                            if (danie.Id == ddz.DanieId)
                                            {
                                                <div id="@danie.NormalizedNazwa" class="list-group-item list-group-item-secondary flex-column align-items-start mb-2">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <div class="row">
                                                            <h5 class="mb-1">@danie.Nazwa</h5>
                                                        </div>
                                                        @foreach (var ssd in Model.SymboleDoDania)
                                                        {
                                                            if (ssd.DanieId == danie.Id)
                                                            {
                                                                @foreach (var symbol in Model.Symbole)
                                                                {
                                                                    if (symbol.Id == ssd.SymbolId)
                                                                    {
                                                                        <img src="~/images/@symbol.ObrazUrl" class="rounded-circle" height="32" width="32" asp-append-version="true" />
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        @*@if (danie.CzyWeganskie)
                                                            {
                                                                <i class="fas fa-leaf" style="color:forestgreen"></i>
                                                            }
                                                            @if (danie.CzyOstre)
                                                            {
                                                                <i class="fas fa-fire" style="color:red"></i>
                                                            }*@
                                                        <p class="float-right">Cena: @danie.Cena</p>
                                                    </div>

                                                </div>

                                            }
                                        }
                                    }
                                }
                                <small>Notatka: @zestaw.NotatkaDoZestawu</small>

                            </div>

                        }
                    }
                    @if (zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Wydane || zamowienie.StatusZamowienie == SystemRestauracja.Data.StatusZamowienie.Oczekujace)
                    {
                        <form class="col" method="post">

                            <button class="btn btn-outline-success col" asp-action="CloseZamowienie" asp-controller="Menu" asp-route-zamowienieId="@zamowienie.Id">Zgłoś chęć zapłaty</button>
                        </form>
                    }
                    <p class="float-right">Cena za całe zamówienie: @zamowienie.CenaSuma</p>
                </div>
            }

        }

        <form class="col">
            <button class="btn btn-outline-success col" formmethod="post" type="submit" asp-action="AddZamowienie" asp-controller="Menu">Dodaj Zamówienie</button>
        </form>
        <div class="mt-5 mt-md-5 mt-sm-5"></div>
    </div>
</div>

